body{
	font-color:red;
	font: 12px/1.5 arial,STHeiti,'Microsoft YaHei',\5b8b\4f53;
    word-wrap: break-word;
}
.oj-container{
  background: #eee;
  position: relative;
  height: auto;
  /*min-height: 100%;*/
}

/*page header start*/
.oj-header {
  background: #3d444c;
/*  position: fixed;*/
  width: 100%;
  height: 55px;
  left: 0;
  margin-bottom: 15px;
}
.oj-header a:hover{
	color:#fff;
}
.header-main{
	width:960px;
	height:55px;
	margin:0 auto;
}
.oj-logo{
	background: url(../pic/nowcoder-logo.jpg) no-repeat;
	display: block;
	width:165px;
	height:55px;
	float:left;
	
}
.oj-nav{
	float: left;
}
.oj-nav li{
	float:left;
	height:55px;
	text-align: center;
}
.oj-nav li a{
	color:#888;
	font-size: 16px;
	display: block;
	line-height: 55px;
	padding: 0 15px;

}
.oj-other-nav{
    float: right;
}
.oj-other-nav li{
	float: left;
	height:55px;
	text-align: center;
	position: relative;
}
.nav-search{
	line-height: 55px;
}
.nav-search-ico{
	position: absolute;
    top:20px;
    left:5px;
	width:16px;
	height:16px;
	z-index: 2;
    background: url(../pic/ico-nav-search2.png) 0 0 no-repeat;
} 
.nav-search .nav-search-txt{
  width: 120px;
  height: 25px;
  padding: 0 5px 0 30px;
  line-height: 25px;
  background: #545e6b;
  border: none;
  border-radius: 0;
  transition: background-color .4s;
  text-align: start;
}
.nav-search-txt:focus{
	background: #fff;
}

.nav-msg{
	margin-left: 5px;
	width:50px;
}
.nav-msg a{
	display: block;
	color:#888;
	font-size: 16px;
	line-height: 55px;
}
.oj-profile .img-box{
	display: inline-block;
	margin-top:10px;
	width:36px;
	height:36px;
	border-radius: 22px;
	overflow: hidden;
}
.oj-profile .img-box img{
	width:36px;
	height:36px;
} 

/*page header end */
/*page body start */
.oj-main{
	background-color: white;
	width: 960px;
	height:auto;
	margin-top: 50px;
	margin:0 auto;
}
.subject-progress{	
	height:12px;
	background-color: #3D444C;
	padding:30px;
	position: relative;
	border: 1px solid red;
}
.subject-progress .progress{
	width:700px;
	height:12px;
	overflow: hidden;
	background: #ebedef;
	border-radius: 32px;
}
.progress .progress-bar{
	width:0;
	height:100%;
	background-color: #1abc9c;
}
.subject-progress .tooltip{
	position: absolute;
	left:16%;
    top:-10px;
	height:30px;	
	z-index: 2;
}
.subject-progress .tooltip-inner{
	background-color: #1abc9c;
	width: auto;
	padding: 6px 10px;
	font-size: 16px;
	font-weight: 700;
	color:#fff;
	border-radius: 6px;
	box-shadow: 0 0 5px #ccc;
}
.subject-progress .tooltip-arrow{
	width:0; 
    height:0; 
    font-size:0; 
    border-width:9px; 
    border-style:solid; 
    border-color:#1abc9c transparent transparent; 
    overflow:hidden; 
    position:absolute; 
    left:27%;
    top:30px;
}
.subject-title{
	padding:20px 20px 20px 50px;
	font-size: 16px;
	background:#fff url(../pic/q-ico.png) 20px 16px no-repeat;
	border-bottom:1px solid #eee;
}
.subject-main{
	padding:20px;
}
.subject-question pre{
	margin-top: 15px;
}
.subject-options.selected, .subject-options.selected:hover {
  border-color: #1abc9c;
  background: #FFF;
}
a:link, a:visited {
  text-decoration: none;
}
.subject-options {
  margin-bottom: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 12px 20px 13px;
  background: #FFF;
  display: block;
  word-break: break-all;
}
.radio input{
	/*为了画出更美观的单选按钮，先隐藏单选按钮本身的圆点*/
	display: none;
}
.radio .icons {
  border: 1px solid #DDD;
  vertical-align: -3px;
  width: 14px;
  height: 14px;
  background: #FFF;
  display: inline-block;
  margin-right: 3px;
  border-radius: 2px;
  line-height: normal;
  position: relative;
}
.radio .icons {
  border-radius: 50%;
}
.radio{
	cursor: pointer;
	display: inline-block;
}
.radio.checked .icons {
  border-color: #00bc9b;
}
.radio.checked .icons:before {
  border-radius: 50%;
  background: #00bc9b;
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
}
.radio pre{
	display: inline-block;
	font-size: 14px;
}
a {
  color: #333;
}
a, ins {
  text-decoration: none;
}

.subject-action{
	width:100%;
	height:50px;
}
.subject-collect{
	float: left;
	line-height: 50px;
}
.collect{
	color: #58b69c;
	font-size: 14px;
	font-weight: 700;
}
.subject-next{
	float:right;
}
/*----开始----通用按钮样式*/
.btn {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  width: 110px;
  color: #FFF;
  font-size: 14px;
  border-radius: 3px;
  border: none 0;
  cursor: pointer;
  line-height: normal;
  outline: 0;
}
.primary-btn{
	background: #00BC9B;
}
.warning-btn{
	background: #ff6547;
}
/*----结束----通用按钮样式*/
.subject-action .btn{
	margin-right: 10px;
}
.answer-sheet-box{
	width:100%;
	height:auto;
	border-top: 1px dashed #ddd;
	padding:20px;
	font-size: 16px;
}
.card-unfold{
   display: inline-block;
   height:20px;
   padding-right:15px;
   background: url(../pic/foldArrow.png) no-repeat right -10px;
}
/*page body end*/

/*page footer start*/
.oj-footer{
	width:100%;
	height: 300px;
	background-color: #3d444c;
}
/*page footer end*/